## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [2]:
# Import API key
from config import g_key

ImportError: cannot import name 'g_key' from 'config' (C:\Users\jbpit\anaconda3\envs\PythonData\lib\site-packages\config\__init__.py)

In [4]:
# Configure gmaps
gmaps.configure(api_key="AIzaSyAQUTrYiJDEibeadzs3DXAarVtF9iBiCdE")

In [ ]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

In [6]:
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head

,City_ID,City,Max Temp,Lat,Lng,Hotel Name,Country,Current Description
0,3,Jhalu,79.32,29.3500,78.2500,NaN,NaN,NaN
1,4,Pisco,71.65,-13.7000,-76.2167,NaN,NaN,NaN
2,10,Rikitea,77.79,-23.1203,-134.9692,NaN,NaN,NaN
3,21,Bambous Virieux,79.05,-20.3428,57.7575,NaN,NaN,NaN
4,22,Rock Sound,75.94,24.9000,-76.2000,NaN,NaN,NaN

In [13]:
vacation_df

,City_ID,City,Max Temp,Lat,Lng,Hotel Name,Country,Current Description
0,3,Jhalu,79.32,29.3500,78.2500,NaN,NaN,NaN
1,4,Pisco,71.65,-13.7000,-76.2167,NaN,NaN,NaN
2,10,Rikitea,77.79,-23.1203,-134.9692,NaN,NaN,NaN
3,21,Bambous Virieux,79.05,-20.3428,57.7575,NaN,NaN,NaN
4,22,Rock Sound,75.94,24.9000,-76.2000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
178,670,Pahrump,75.25,36.2083,-115.9839,NaN,NaN,NaN
179,674,Bubaque,75.83,11.2833,-15.8333,NaN,NaN,NaN
180,675,Namibe,74.44,-15.1961,12.1522,NaN,NaN,NaN
181,683,Pecos,79.63,31.4229,-103.4932,NaN,NaN,NaN
182,684,Madimba,76.17,-10.4000,40.3333,NaN,NaN,NaN

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [ ]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure

In [11]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[]
vacation_end = vacation_df.loc[]
vacation_stop1 = vacation_df.loc[]
vacation_stop2 = vacation_df.loc[] 
vacation_stop3 = vacation_df.loc[]

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[{City:"Pisco"}]

NameError: name 'City' is not defined

In [ ]:

vacation_end = vacation_df.loc[]
vacation_stop1 = vacation_df.loc[]
vacation_stop2 = vacation_df.loc[] 
vacation_stop3 = vacation_df.loc[{City:"Pisco"}]

In [15]:
# Latitude-longitude pairs
stop_1 = (-23.1203, -134.9692)
stop_2 = (-20.3428, 57.7575)

fig = gmaps.figure()
stop12stop2 = gmaps.directions_layer(stop_1, stop_2)
fig.add_layer(stop12stop2)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = 
end = 
stop1 = 
stop2 = 
stop3 =

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure